html {
    background-image: url(bg.jpg);
}

#container {
    background-color: azure;
    max-width: 1200px;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 11.3em;
    background-color: saddlebrown;
    
}

header h1 {
    font-family: Helvetica;
    text-align: center;
    font-size: 5em;
    color: darkgrey;
}

#subheader {
    width: 100%;
    background-color: bisque;
    text-align: center;
    
}

#game {
    border-left: 8px solid red;
    background-color: lightgrey;
    margin: 10px;
    padding: 10px;
}

form {
    margin: 10px;
}

a {
    background-color: whitesmoke;
    text-decoration: none;
    color: darkred;
    font-size: 1.5em;
    font-family: arial;
    margin: 12px;
    padding: 5px;
}

a:hover {
    background-color: darkred;
    color: whitesmoke;
}